<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zihai.h2Client.dao.ds2.OplogMapper">
  <resultMap id="BaseResultMap" type="com.zihai.h2Client.core.entity.Oplog">
    <id column="op_id" jdbcType="INTEGER" property="opId" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_pid" jdbcType="VARCHAR" property="userPid" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    op_id, message, create_time, user_id, user_pid, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.oplog
    where op_id = #{opId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from public.oplog
    where op_id = #{opId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zihai.h2Client.core.entity.Oplog">
    insert into public.oplog (op_id, message, create_time, 
      user_id, user_pid, type
      )
    values (#{opId,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR}, #{userPid,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zihai.h2Client.core.entity.Oplog">
    insert into public.oplog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="opId != null">
        op_id,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userPid != null">
        user_pid,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="opId != null">
        #{opId,jdbcType=INTEGER},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userPid != null">
        #{userPid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zihai.h2Client.core.entity.Oplog">
    update public.oplog
    <set>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userPid != null">
        user_pid = #{userPid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where op_id = #{opId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zihai.h2Client.core.entity.Oplog">
    update public.oplog
    set message = #{message,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      user_pid = #{userPid,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where op_id = #{opId,jdbcType=INTEGER}
  </update>
</mapper>